
/*General*/

*{
    background-color: grey; color: white;
}

* a{
    color: yellow;
}






/*HEADER*/

header{
text-align: center;
align-content: center;
display: block;
border-bottom: 2px solid white;

}


header nav ul{
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    
}

header nav ul li{
    margin: 20px;
    list-style: none;

}

header a{
    color: yellow;
}

/*FOOTER*/

footer{
padding-top: 20px;
text-align: center;
align-content: center;
display: block;

border-top: 2px solid white;

}

/*INDEX*/

.index {
    text-align: center;
    align-content: center;
    display: block;
}



.index img{
    border-radius: 50%;
}

.index video{
    border-radius: 5%;

}

/*QUIENES SOMOS*/

.quienessomos {
    text-align: center;
    align-content: center;
    display: block;
}

.quienessomos section{
    border: 2px solid white;
    margin:  0 20% 0;
    border-radius: 10px; 
}

.quienessomos img, iframe, h3{
    border-radius: 10px;
    margin: 10px;
}



.quienessomos h2 u{
    color: #C0C0C0;
}

/*Productos*/

.productos article{
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center; 
}

.productos section{
    border: 2px solid white;
    margin: 20px;
    border-radius: 5px;
}

.productos section img {
    margin: 15px 5px 5px;
}

/*Registro*/

.registro{
    align-items: center;
    text-align: center;
    display: block;
    align-content: center;
}



.registro fieldset{
    width: 25%;
    border-radius: 5px;
    margin: 3em 0em 3em 35em;

}

.registro table{
    margin: 15px;
}


.registro input {
    border-radius: 5px;
}

/*graciasregistro*/

.graciasregistro{
    text-align: center;
    margin: 3em 0 3em 0;
}

/*iniciosesion*/

.iniciosesion{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.iniciosesion fieldset{
    border-radius: 5px;
    margin: 2em 0em 3em 0em;
}

.iniciosesion input {
    border-radius: 5px;
}

/*contacto*/

.contacto{
    text-align: center;
    align-items: center;
}

.contacto fieldset{
    width: 25%;
    border-radius: 5px;
    margin: 2em 0em 3em 35em;
}


/*graciascontacto*/

.graciascontacto{
    text-align: center;
    margin: 3em 0 3em 0;
}

/*compra*/

.compra{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 0 0 0 16em;
}


.compra fieldset{
    width: 70%;
    border-radius: 5px;
    margin: 1em 0 1em 0;
}

.compra2 {
     display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

/*graciascompra*/


.graciascompras{
    text-align: center;
    margin: 3em 0 3em 0;
}




