
/*General*/

*{
    background-color: grey; color: white;
}

* a{
    color: yellow;
}






/*HEADER*/

header{
text-align: center;
align-content: center;
display: block;
border-bottom: 2px solid white;

}


header nav ul{
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    
}

header nav ul li{
    margin: 20px;
    list-style: none;

}

header a{
    color: yellow;
}

/*FOOTER*/

footer{
padding-top: 20px;
text-align: center;
align-content: center;
display: block;

border-top: 2px solid white;

}

/*INDEX*/

.index {
    text-align: center;
    align-content: center;
    display: block;
}



.index img{
    border-radius: 50%;
}

.index video{
    border-radius: 5%;

}

/*QUIENES SOMOS*/

.quienessomos {
    text-align: center;
    align-content: center;
    display: block;
}

.quienessomos section{
    border: 2px solid white;
    margin:  0 20% 0;
    border-radius: 10px; 
}

.quienessomos img, iframe, h3{
    border-radius: 10px;
    margin: 10px;
}



.quienessomos h2 u{
    color: #C0C0C0;
}







